@charset "utf-8";
@import url(../../css/base.css); 

@font-face {
  font-family: "NotoSansKR";
  src: url("/font/NotoSansKR-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/font/NotoSansKR-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/font/NotoSansKR-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

/*common*/


/*viral_box Top*/
.viral_box{ position:relative; background-color:rgba(0,0,0,25%); width:100%; height:900px; display:flex; align-items: center; justify-content: center;}
.viral_wrap .orb-canvas {position: absolute; width:100%; height:100%; z-index: -1;}
.viral_vis_left h1{font-size:74px; font-weight: 600; color:var(--font-color-primary);}
.viral_vis_left p{width:550px; font-size:17px; line-height: 1.588; word-break: keep-all; margin:25px 0 60px; color:rgba(255,255,255, 50%);}
.viral_vis_right span{display: none;}
#canvas_id{ width:972px !important; height:472px !important; margin-left:-100px;}
.col_vir{color:#2990D4;}
.viral_box .top_dimmed .w1200{max-width:1200px; width:100%; height:100%; display:flex; align-items: center; margin:0 auto;}

/* button customer */
.viral_vis_left .vir_inq { width:255px; border: none; background: transparent; position: relative; display: flex; align-items: center; justify-content: center; padding: 22px 0px; overflow: hidden; border-radius: 100vmax; box-shadow: var(--shadow-elevation-medium); transition: box-shadow 0.2s ease-in-out; } 
.viral_vis_left .vir_inq::after, .viral_vis_left .vir_inq::before { content: ""; position: absolute; inset: 0;} 
.viral_vis_left .vir_inq::before { z-index: 1; right: -100%; background: linear-gradient(to right, #607AFF 0%, #00A1B3 50%, #607AFF 100%); background-size: 50% 100%; animation: scroll 1.2s infinite linear; } 
.viral_vis_left .vir_inq::after { z-index: 2; inset: 3px; border-radius: 100vmax; background-color:#18252E; transition: inset 0.2s ease-in-out; } 
.viral_vis_left .vir_inq a { z-index: 3; font-size: 18px; color: #2990D4; text-transform: uppercase; cursor: pointer; } 
.viral_vis_left .vir_inq:hover { box-shadow: var(--shadow-elevation-medium); } 
.viral_vis_left .vir_inq:hover::after { inset: 6px; } 
@keyframes scroll { to { transform: translateX(-50%); } }

/*viral_tab_container*/

.viral_tab_container{margin: 120px 0;}
.viral_tabs{display:flex; justify-content: space-between; align-items: center; background-color: #273139; border-radius: 40px;}
.viral_tabs li{ flex:1; padding:22px 0; text-align: center; border-radius:40px;}
.viral_tabs li a{font-size:18px; color:var(--font-color-primary); cursor: pointer;}
.viral_tabs li.select{background:linear-gradient(to top, #1322A8 0%, #8DFBFF 100%);}
.vir_cont{ margin:120px 0;}


/*blog01*/
#viral_blog01 .blog01_list li{position: relative; height:450px; display: flex; align-items: center; justify-content: space-between;}
#viral_blog01 .blog_left_img{width:750px; height:450px; border-radius: 20px; left:0;}
#viral_blog01 .blog_fir{background: url("/viral_jyj/img/blog_fir.png") no-repeat center /cover;}
#viral_blog01 .blog_right_txt{position:absolute; right: 0; width:565px; padding:50px 70px; box-sizing: border-box; background-color: #182229; color:var(--font-color-primary); text-align: center; border-radius: 20px; white-space: nowrap;}
#viral_blog01 .blog_title{font-size:22px; font-weight:500;}
#viral_blog01 .blog_right_txt > p{word-break: keep-all; font-size: 16px; line-height: 1.625; color:var(--font-color-base02); margin:7px 0 30px;}
#viral_blog01 .blog_hash span{border:1px solid var(--font-color-primary); border-radius: 17px; padding:6px 12px; box-sizing: border-box; margin-right: 10px;}
#viral_blog01 .blog_hash span:last-child{margin-right: 0;}

#viral_blog01 .blog01_list li:nth-child(2){flex-direction: row-reverse; margin:80px 0;}
#viral_blog01 .blog_sec{background: url("/viral_jyj/img/blog_sec.png") no-repeat center /cover;}
#viral_blog01 .blog_right_img{width:750px; height:450px; border-radius: 20px; left:0;}
#viral_blog01 .blog_left_txt{position:absolute; left: 0; width:565px; padding:50px 70px; box-sizing: border-box; background-color: #182229; color:var(--font-color-primary); text-align: center; border-radius: 20px;}
#viral_blog01 .blog_left_txt > p{word-break: keep-all; font-size: 16px; line-height: 1.625; color:var(--font-color-base02); margin:7px 0 30px;}

#viral_blog01 .blog_thi{background: url("/viral_jyj/img/blog_thi.png") no-repeat center /cover;}

/*blog02*/
#viral_blog02 .blog02{background-color: var(--font-color-base); border-radius: 20px; padding:60px 160px 0; box-sizing: border-box; text-align: center;}
#viral_blog02 .blog02 .blog_title{font-size:40px; font-weight:600; color:var(--font-color-primary);}
#viral_blog02 .blog02 .blog02_list{margin:30px 0 50px;}
#viral_blog02 .blog02 .blog02_list li{border:1px solid rgba(255,255,255,42%); color:var(--font-color-primary); border-radius: 17px; margin:0 10px 10px 0; padding:5px 15px; box-sizing: border-box; display: inline-block;}
#viral_blog02 .blog02 .blog02_desc{width:850px; height: 574px; background:url("/viral_jyj/img/blog02_animal.png") no-repeat center /cover;}
#viral_blog02 .blog02 .blog02_list li.animal{background:linear-gradient(to top, #1322A8 0%, #8DFBFF 100%); border:initial;}

#viral_blog02 .blog_marketing{margin:120px 0 0;}
#viral_blog02 .blog_marketing .top_title_box{margin:0 auto 40px;}
#viral_blog02 .blog_marketing .mark_list{ display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between;}
#viral_blog02 .blog_marketing .mark_list li{color:var(--font-color-primary); width:calc(50% - 20px); margin: 0 20px 0 0; background: linear-gradient(to bottom, rgba(28, 40, 48, 0) 0%, #1C2830 100%); border-radius: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; padding: 80px 0 90px; box-sizing: border-box;}
#viral_blog02 .blog_marketing .mark_list li:last-child{margin:0;}
#viral_blog02 .blog_marketing .mark_list .vir_num{position: relative; font-size: 22px; font-weight: 500; padding:0 0 10px; box-sizing: border-box;}
#viral_blog02 .blog_marketing .mark_list .vir_num::after{content: ""; position: absolute; bottom:0; left:3px; width:100%; height:3px; background-color: var(--font-color-primary);}
#viral_blog02 .blog_marketing .mark_list .mark_txt{font-size: 22px; font-weight: 500;}
#viral_blog02 .blog_marketing .mark_list .mark_txt b{font-weight: 500; margin: 20px 0 7px; display: inline-block;}
#viral_blog02 .blog_marketing .mark_list .mark_txt p{font-size: 16px; line-height: 1.625; color: var(--font-color-base02);}

/* viral_why */

.viral_page{opacity: 0; visibility: hidden;}
.viral_why{background-color: var(--font-color-base); padding:120px 0; box-sizing: border-box;}
.viral_why .swiper-slide img{ width:100%;}
.viral_why .swiper-slide{padding:0 0 130px; box-sizing: border-box; position:relative;}
.viral_why .swiper-slide .slide_txtbox{width:825px; text-align: center; color:var(--font-color-primary); background-color: #222D34; border-radius: 20px; padding:36px 133px; box-sizing: border-box; position: absolute; bottom: 20px; left:calc(50% - 401px);}
.viral_why .swiper-slide .slide_txtbox .vir_slide_title{font-size:22px; font-weight: 500; margin-bottom: 20px; display: inline-block;}
.viral_why .swiper-slide .slide_txtbox p {word-break: keep-all; font-size:16px; line-height: 1.625; color:var(--font-color-base02);}
.col_white{color:var(--font-color-primary);}
.viral_prev{ left:-110px !important;}
.viral_next{ right:-110px !important;}
.viral_prev, .viral_next{ width:80px !important; height:80px !important; }
.viral_prev::after, .viral_next::after{ opacity: 1; z-index:-1; width: 100%; height: 100%; content:"" !important; position: absolute; background: transparent linear-gradient(170deg, #69757e 0%, #141c21 100%) 0% 0% no-repeat padding-box; border-radius: 20px; filter: blur(7px);}
.viral_prev::before, .viral_next::before{ content: ""; position: absolute; width:100%; height:100%; background-color: var(--font-color-viral_btn); border-radius: 20px; box-shadow:0 5px 12px rgba(0,0,0,62%);}
.viral_prev > i, .viral_next > i{position: absolute; z-index: 1; width:10px; height:10px; border-top: 2px solid var(--font-color-primary); border-right: 2px solid var(--font-color-primary);}
.viral_prev > i{transform: rotate(-135deg);}
.viral_next > i{transform: rotate(45deg);}

.viral_prev:active{top:399px;}
.viral_prev:active::after{opacity: 0;}
.viral_prev:active::before{box-shadow: inset 0 -1px 12px rgba(0,0,0,62%);}

.viral_next:active{top:399px;}
.viral_next:active::after{opacity: 0;}
.viral_next:active::before{box-shadow: inset 0 -1px 12px rgba(0,0,0,62%);}

/*select_inv*/
.select_inv{ margin-top:120px;}
.selc_inv_list{ display: flex; justify-content: space-between; align-items: center;}
.selc_inv_list li{width:calc(25% - 15px); margin-right: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 50px 60px; box-sizing: border-box; background-color: var(--font-color-base); border-radius: 20px;}
.selc_inv_list li:last-child{margin-right: 0;}
.selc_inv_list li .select_title{ text-align: center; white-space: nowrap; font-size: 22px; font-weight: 500; line-height: 1.4545; color:var(--font-color-primary); margin:30px 0 5px;}
.selc_inv_list li p{white-space: nowrap; text-align: center; margin-bottom:15px; font-size:16px; line-height: 1.625; color:var(--font-color-base02);}
.selc_inv_list li b{font-size:16px; line-height: 1.625; color: var(--font-color-primary);}
.selc_inv_list li .col_sky{color:var(--font-color-sky);}








