@charset "utf-8";
@import url(../../css/base.css); 



/*news_top_box*/
.news_top_box{position:relative; background-color:rgba(0,0,0,25%); width:100%; height:900px; display:flex; align-items: center; justify-content: center;}
.news_top_box .orb-canvas {position: absolute; width:100%; height:100%; z-index: -1;}
.news_top_title{width:500px;}
.col_green{color:#82F8B3;}

/* button customer */
.news_top_title .news_inq { width:255px; border: none; background: transparent; position: relative; display: flex; align-items: center; justify-content: center; padding: 22px 0px; overflow: hidden; border-radius: 100vmax; box-shadow: var(--shadow-elevation-medium); transition: box-shadow 0.2s ease-in-out; } 
.news_top_title .news_inq::after, .news_top_title .news_inq::before { content: ""; position: absolute; inset: 0; } 
.news_top_title .news_inq::before { z-index: 1; right: -100%; background: linear-gradient(to right, #16FFC7 0%, #F9F09D 50%, #16FFC7 100%); background-size: 50% 100%; animation: scroll 1.2s infinite linear; } 
.news_top_title .news_inq::after { z-index: 2; inset: 3px; border-radius: 100vmax; background-color:#18252E; transition: inset 0.2s ease-in-out; } 
.news_top_title .news_inq a { z-index: 3; font-size: 18px; color: #82F8B3; text-transform: uppercase; cursor: pointer; } 
.news_top_title .news_inq:hover { box-shadow: var(--shadow-elevation-medium); } 
.news_top_title .news_inq:hover::after { inset: 6px; } 
@keyframes scroll { to { transform: translateX(-50%); } }

/*public_section*/
.public_section{margin:120px 0; position:relative; height: 725px;}
.public_con{width:100%; height:430px; position:absolute; top:180px; left:0px;}
.public_con .swiper-slide{ height: 430px !important; opacity: .2; transition: all .3s; transition-property:initial !important}
.public_con .swiper-slide img{border-radius: 20px;}
.public_con::after{content: ""; width:764px; height: 550px; background: url("/viral_jyj/img/moniter.png") no-repeat center /cover; position: absolute; top:-4px; left:calc(50% - 390px);}
.public_con .swiper-slide-active{opacity: 1; }
.public_con .swiper-slide-active img{border-radius: 0;}

/*strength_section*/
.strength_section{ display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding:120px 0; box-sizing: border-box; background-color: var(--font-color-base);}
.stren_left{width:38%; position: relative;}
.stren_left::after{content:""; position: absolute; top:-16px; right:-3px; width:294px; height:566px; background-color: #192024; border-radius: 30px;}
.strength_swiper{ width:100%; overflow: hidden;}
.stren_left > .strength_swiper .swiper-slide{width:270px !important; height:532px !important; border-radius: 20px; overflow: hidden; transition: all .3s;}
.stren_left > .strength_swiper .swiper-slide:not(.swiper-slide-active, .swiper-slide-next){ opacity: 22%;}
.stren_left > .strength_swiper img{ width:100%;}

.stren_right{ width:23%; margin-left: 94px; color:var(--font-color-primary); display: flex; flex-direction: column; align-items: center; justify-content: center;}
.stren_right strong{font-size:40px; font-weight: 600; padding:40px 0; box-sizing: border-box;}
.strength_list{ width: 100%;}
.strength_list li{font-size:16px; line-height: 1.75; background-color: #2B373E; border-radius: 5px; padding:18px 0; box-sizing: border-box; text-align: center; width: 100%; margin:0 0 20px;}
.strength_list li:last-child{margin:0;}

/* success_section */
.success_con{ position: relative; height:813px;}
.success_con .success_left{display: flex; align-items: flex-start; position:absolute; top:0; left:0;}
.success_con .success_left img{box-shadow: 4px 5px 15px rgba(0,0,0,35%); border-radius: 20px; margin:0 20px 0 0;}
.success_con .success_right{display: flex; align-items: flex-end; flex-direction: row-reverse; position:absolute; bottom:0px; right:0;}
.success_con .success_right img{box-shadow: 4px 5px 15px rgba(0,0,0,35%); border-radius: 20px; margin:0 0 0 20px;}
.key_word_box{display:flex; flex-direction: column;}
.key_word_box span{font-size:18px; line-height: 1.944; color: #B8C0C5;}
.key_word_box b{font-size:30px; font-weight: 500; color:#fff;}

.success_con_bot{ margin:60px 0 0; display:flex; justify-content: space-between; align-items: center;}
.success_con_bot li{ position: relative; width:300px; height:300px; background-color: rgba(255,255,255,6%); border-radius: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.success_con_bot li:nth-child(2)::after{content: ""; position:absolute; top:calc(50% - 5px); left:calc(50% - 250px); width:46px; height:10px; background: url("/img/road_gif.gif") no-repeat center /cover;}
.success_con_bot li:nth-child(2)::before{content: ""; position:absolute; top:calc(50% - 5px); left:calc(50% - -200px); width:46px; height:10px; background: url("/img/road_gif.gif") no-repeat center /cover;}
.success_con_bot li .procedure_title{font-size: 34px; font-weight: 500; color:#82F8B3;}
.success_con_bot li p{font-size:16px; line-height: 1.625; color:#81919A; text-align: center; margin:10px 0 0;}
.col_white{color:var(--font-color-primary);}

/* cooperation_section */
.cooperation_section{ padding:120px 0; box-sizing: border-box; background-color: #243038;}
.cooper_list{ display:flex; flex-wrap: wrap; align-items: center; justify-content: space-between; position: relative;}
.cooper_list li{width:calc(20% - 16px); height: 114px; background-color: #202B33; border-radius: 15px; display: flex; align-items: center; justify-content: center; margin:0 0 20px;}
.cooper_list li:nth-child(n + 21):nth-child(-n + 25){ background:linear-gradient(to top, transparent 0%, #202B33 95%);}
.cooper_list::after{content: ""; position: absolute; bottom: 0; left:0; width:100%; height:200px; background:linear-gradient(to bottom, rgba(36, 48, 56, 0) 0%, rgba(36, 48, 56, 100%) 100%); border-radius: 0 0 15px 15px;}
.coop_loading{width:46px; margin:40px auto; transform: rotate(90deg);}
.coop_loading > img{width:100%;}
.coop_bot_txt{text-align: center;}
.coop_bot_txt > b{font-size:40px; color:#FF2174; font-weight: 600;}
.coop_bot_txt > p{font-size: 20px; line-height: 1.8; color:#fff; margin:10px 0 0;}